In [41]:
import pandas as pd
import numpy as np

In [42]:
df1 = pd.read_csv('D:/김동영/11_Github/mygit-1/DAT/25-1프로젝트/최종데이터/1년 평균값+중앙값 조회수,댓글수_결측치포함ver.csv')
df2 = pd.read_csv('D:/김동영/11_Github/mygit-1/DAT/25-1프로젝트/최종데이터/첫영상날짜.csv')
df3 = pd.read_csv('D:/김동영/11_Github/mygit-1/DAT/25-1프로젝트/최종데이터/exolyt_result_retry_최종.csv')

In [43]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   username          290 non-null    object
 1   median_views      275 non-null    object
 2   median_comments   275 non-null    float64
 3   average_views     275 non-null    object
 4   average_comments  271 non-null    float64
dtypes: float64(2), object(3)
memory usage: 11.5+ KB

In [44]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291 entries, 0 to 290
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   username         291 non-null    object
 1   last_video_date  281 non-null    object
dtypes: object(2)
memory usage: 4.7+ KB

In [45]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304 entries, 0 to 303
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   username      304 non-null    object
 1   verified      303 non-null    object
 2   top_hashtags  298 non-null    object
dtypes: object(3)
memory usage: 7.3+ KB

In [46]:
df_merged = pd.merge(df1, df2, on='username', how='outer')
df_merged = pd.merge(df_merged, df3, on='username', how='outer')
df_merged.head()

,username,median_views,median_comments,average_views,average_comments,last_video_date,verified,top_hashtags
0,Hikarifleurr,987,6.0,6.5K,11.0,2020-01-31,False,"nostalgia, y2k, brendasong, ad, girlygirl, plu..."
1,Rosemarie.loves,419,9.0,617,10.0,2023-02-24,False,"tiktokshop, tiktokmademebuyit, fashion, tiktok..."
2,Thatbaileygal,NaN,NaN,NaN,NaN,2023-12-10,False,NaN
3,__allaboutskincare__,311,2.0,275,3.0,2024-02-17,False,"explore, tiktok, viral, kbeauty, douyinmakeup,..."
4,_anjello,389,24.0,529,27.0,2024-01-14,False,"skincare, capcut, kbeauty, koreanskincare, ski..."

In [47]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307 entries, 0 to 306
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   username          307 non-null    object
 1   median_views      279 non-null    object
 2   median_comments   279 non-null    float64
 3   average_views     279 non-null    object
 4   average_comments  275 non-null    float64
 5   last_video_date   283 non-null    object
 6   verified          306 non-null    object
 7   top_hashtags      301 non-null    object
dtypes: float64(2), object(6)
memory usage: 19.3+ KB

In [48]:
df_merged.to_csv('D:/김동영/11_Github/mygit-1/DAT/25-1프로젝트/최종데이터/통합데이터.csv', index=False)

In [49]:
data = pd.read_csv('D:/김동영/11_Github/mygit-1/DAT/25-1프로젝트/최종데이터/PR시트의 사본 - 시트1 (2).csv', encoding='cp949')

In [50]:
data

data = data.drop(index=0).reset_index(drop=True)
data.columns = data.iloc[0]
data = data.drop(index=0).reset_index(drop=True)
data.head()

,Contents guide,Guide 발송여부,Channel,Username,Social Link,Followers,Email address,컨택,진행상황,특이사항,...,Updated link,Updated Date,view track,쌀도우 link,Updated Date,view track,특이사항,NaN,NaN,프로모션 영상 개수
0,NaN,FALSE,Tiktok,skinjoyedbyana,https://www.instagram.com/skinjoyedbyana/,29.6K,skinjoyedbyana@gmail.com,TRUE,NaN,NaN,...,NaN,NaN,NaN,https://www.instagram.com/nadiia_polytsiak/ree...,2025-02-10,455,루즈,NaN,NaN,NaN
1,NaN,FALSE,IG,buildyourskin,https://www.instagram.com/buildyourskin/,22.5K,DM,TRUE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,FALSE,IG,grasiapper,https://www.instagram.com/grasiapper/?g=5,21.2K,DM,TRUE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,FALSE,IG,myfadingskin,https://www.instagram.com/myfadingskin/,"5,949",DM,TRUE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,FALSE,IG,ashleymeidaa,https://www.instagram.com/ashleymeidaa/?g=5,118,DM,TRUE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
data = data[data['Channel'] == 'Tiktok'].reset_index(drop=True)
data.head()

,Contents guide,Guide 발송여부,Channel,Username,Social Link,Followers,Email address,컨택,진행상황,특이사항,...,Updated link,Updated Date,view track,쌀도우 link,Updated Date,view track,특이사항,NaN,NaN,프로모션 영상 개수
0,NaN,FALSE,Tiktok,skinjoyedbyana,https://www.instagram.com/skinjoyedbyana/,29.6K,skinjoyedbyana@gmail.com,TRUE,NaN,NaN,...,NaN,NaN,NaN,https://www.instagram.com/nadiia_polytsiak/ree...,2025-02-10,455,루즈,NaN,NaN,NaN
1,NaN,FALSE,Tiktok,@keishasarah_,https://www.tiktok.com/@keishasarah_,44.8K,keisha@teamwildent.com,FALSE,NaN,메일 전송 실패,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,FALSE,Tiktok,@theonlyhaven,https://www.tiktok.com/@theonlyhaven,1.3M,ac@teamwildent.com,TRUE,waiting for content,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,FALSE,Tiktok,@turquoise.dec,https://www.tiktok.com/@turquoise.dec,746.1K,turquoise@teamwildent.com,TRUE,waiting for content,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,FALSE,Tiktok,@ttalgi.ellie,https://www.tiktok.com/@ttalgi.ellie,1.4K,itsttalgi.ellie@gmail.com,TRUE,uploaded,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 633 entries, 0 to 632
Data columns (total 31 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Contents guide  52 non-null     object
 1   Guide 발송여부      633 non-null    object
 2   Channel         633 non-null    object
 3   Username        633 non-null    object
 4   Social Link     633 non-null    object
 5   Followers       633 non-null    object
 6   Email address   633 non-null    object
 7   컨택              633 non-null    object
 8   진행상황            343 non-null    object
 9   특이사항            51 non-null     object
 10  제품발송            633 non-null    object
 11  City            311 non-null    object
 12  State/Province  306 non-null    object
 13  Country         311 non-null    object
 14  Ship date       313 non-null    object
 15  Posted link     178 non-null    object
 16  Posted Date     177 non-null    object
 17  List-up Date    633 non-null    object
 18  Posted Month    633 non-null    object
 19  view track      116 non-null    object
 20  특이사항            35 non-null     object
 21  Updated link    17 non-null     object
 22  Updated Date    17 non-null     object
 23  view track      17 non-null     object
 24   쌀도우 link       7 non-null      object
 25  Updated Date    7 non-null      object
 26  view track      7 non-null      object
 27  특이사항            6 non-null      object
 28  nan             7 non-null      object
 29  nan             0 non-null      object
 30  프로모션 영상 개수      0 non-null      object
dtypes: object(31)
memory usage: 153.4+ KB

In [53]:
data['Username'] = data['Username'].str.replace('@', '', regex=False)

In [54]:
merged_data = pd.merge(data, df_merged, left_on='Username', right_on='username', how='left')
merged_data.head()

,Contents guide,Guide 발송여부,Channel,Username,Social Link,Followers,Email address,컨택,진행상황,특이사항,...,NaN,프로모션 영상 개수,username,median_views,median_comments,average_views,average_comments,last_video_date,verified,top_hashtags
0,NaN,FALSE,Tiktok,skinjoyedbyana,https://www.instagram.com/skinjoyedbyana/,29.6K,skinjoyedbyana@gmail.com,TRUE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,FALSE,Tiktok,keishasarah_,https://www.tiktok.com/@keishasarah_,44.8K,keisha@teamwildent.com,FALSE,NaN,메일 전송 실패,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,FALSE,Tiktok,theonlyhaven,https://www.tiktok.com/@theonlyhaven,1.3M,ac@teamwildent.com,TRUE,waiting for content,NaN,...,NaN,NaN,theonlyhaven,17.6K,8.0,134.6K,32.0,2019-12-19,False,"rlholiday, poloralphlauren, rlholidaytree, ral..."
3,NaN,FALSE,Tiktok,turquoise.dec,https://www.tiktok.com/@turquoise.dec,746.1K,turquoise@teamwildent.com,TRUE,waiting for content,NaN,...,NaN,NaN,turquoise.dec,117.8K,34.0,341.6K,153.0,2021-02-14,False,"yslbeauty, yslbeautysg, yslmakeup, ysltheinks"
4,NaN,FALSE,Tiktok,ttalgi.ellie,https://www.tiktok.com/@ttalgi.ellie,1.4K,itsttalgi.ellie@gmail.com,TRUE,uploaded,NaN,...,NaN,NaN,ttalgi.ellie,932,5.0,4.3K,6.0,2024-02-07,False,"fyp, support, unbox, outfits, outfitinspo, hau..."

In [55]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 641 entries, 0 to 640
Data columns (total 39 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Contents guide    52 non-null     object
 1   Guide 발송여부        641 non-null    object
 2   Channel           641 non-null    object
 3   Username          641 non-null    object
 4   Social Link       641 non-null    object
 5   Followers         641 non-null    object
 6   Email address     641 non-null    object
 7   컨택                641 non-null    object
 8   진행상황              351 non-null    object
 9   특이사항              51 non-null     object
 10  제품발송              641 non-null    object
 11  City              319 non-null    object
 12  State/Province    314 non-null    object
 13  Country           319 non-null    object
 14  Ship date         321 non-null    object
 15  Posted link       184 non-null    object
 16  Posted Date       183 non-null    object
 17  List-up Date      641 non-null    object
 18  Posted Month      641 non-null    object
 19  view track        122 non-null    object
 20  특이사항              41 non-null     object
 21  Updated link      17 non-null     object
 22  Updated Date      17 non-null     object
 23  view track        17 non-null     object
 24   쌀도우 link         7 non-null      object
 25  Updated Date      7 non-null      object
 26  view track        7 non-null      object
 27  특이사항              6 non-null      object
 28  nan               7 non-null      object
 29  nan               0 non-null      object
 30  프로모션 영상 개수        0 non-null      object
 31  username          284 non-null    object
 32  median_views      265 non-null    object
 33  median_comments   265 non-null    float64
 34  average_views     265 non-null    object
 35  average_comments  261 non-null    float64
 36  last_video_date   267 non-null    object
 37  verified          283 non-null    object
 38  top_hashtags      279 non-null    object
dtypes: float64(2), object(37)
memory usage: 195.4+ KB

In [56]:
merged_data = merged_data.dropna(subset=['username']).reset_index(drop=True)
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Data columns (total 39 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Contents guide    52 non-null     object
 1   Guide 발송여부        284 non-null    object
 2   Channel           284 non-null    object
 3   Username          284 non-null    object
 4   Social Link       284 non-null    object
 5   Followers         284 non-null    object
 6   Email address     284 non-null    object
 7   컨택                284 non-null    object
 8   진행상황              284 non-null    object
 9   특이사항              20 non-null     object
 10  제품발송              284 non-null    object
 11  City              283 non-null    object
 12  State/Province    278 non-null    object
 13  Country           283 non-null    object
 14  Ship date         284 non-null    object
 15  Posted link       164 non-null    object
 16  Posted Date       164 non-null    object
 17  List-up Date      284 non-null    object
 18  Posted Month      284 non-null    object
 19  view track        109 non-null    object
 20  특이사항              36 non-null     object
 21  Updated link      16 non-null     object
 22  Updated Date      16 non-null     object
 23  view track        16 non-null     object
 24   쌀도우 link         5 non-null      object
 25  Updated Date      5 non-null      object
 26  view track        5 non-null      object
 27  특이사항              3 non-null      object
 28  nan               7 non-null      object
 29  nan               0 non-null      object
 30  프로모션 영상 개수        0 non-null      object
 31  username          284 non-null    object
 32  median_views      265 non-null    object
 33  median_comments   265 non-null    float64
 34  average_views     265 non-null    object
 35  average_comments  261 non-null    float64
 36  last_video_date   267 non-null    object
 37  verified          283 non-null    object
 38  top_hashtags      279 non-null    object
dtypes: float64(2), object(37)
memory usage: 86.7+ KB

In [57]:
merged_data.to_csv('D:/김동영/11_Github/mygit-1/DAT/25-1프로젝트/최종데이터/통합데이터_틱톡2.csv', index=False)

In [59]:
data = pd.read_csv('D:/김동영/11_Github/mygit-1/DAT/25-1프로젝트/최종데이터/통합데이터_틱톡2.csv', encoding='cp949')

In [61]:
data.columns

Index(['Contents guide', 'Guide 발송여부', 'Channel', 'Username', 'Social Link',
       'Followers', 'Email address', '컨택', '진행상황', '특이사항', '제품발송', 'City',
       'State/Province', 'Country', 'Ship date', 'Posted link', 'Posted Date',
       'List-up Date', 'Posted Month', 'view track', '특이사항_1', 'Updated link',
       'Updated Date', 'view track_2', ' 쌀도우 link', 'Updated Date_3',
       'view track_4', '특이사항_5', 'Column1', '_6', '프로모션 영상 개수', 'username.1',
       'median_views', 'median_comments', 'average_views', 'average_comments',
       'last_video_date', 'verified', 'top_hashtags'],
      dtype='object')

In [65]:
# 사용할 열 선택
selected_columns = ['Channel', 'Username', '진행상황', 'City', 'Country', 'median_views', 'median_comments', 'average_views', 'average_comments',
'last_video_date', 'verified', 'top_hashtags']

In [66]:
selected_data = data[selected_columns]
selected_data.head()

,Channel,Username,진행상황,City,Country,median_views,median_comments,average_views,average_comments,last_video_date,verified,top_hashtags
0,Tiktok,theonlyhaven,waiting for content,Singapore,SG,17.6K,8.0,134.6K,32.0,2019-12-19,False,"rlholiday, poloralphlauren, rlholidaytree, ral..."
1,Tiktok,turquoise.dec,waiting for content,Singapore,SG,117.8K,34.0,341.6K,153.0,2021-02-14,False,"yslbeauty, yslbeautysg, yslmakeup, ysltheinks"
2,Tiktok,ttalgi.ellie,uploaded,Sarzana,Italy,932,5.0,4.3K,6.0,2024-02-07,False,"fyp, support, unbox, outfits, outfitinspo, hau..."
3,Tiktok,srsaskin_,uploaded,Birmingham,GB,1.1K,19.0,2.7K,28.0,2024-02-03,False,"kbeauty, koreanskincare, teca, fyp, abib, abib..."
4,Tiktok,_anjello,uploaded,Concord,US,389,24.0,529,27.0,2024-01-14,False,"skincare, capcut, kbeauty, koreanskincare, ski..."

In [91]:
file_path = 'D:/김동영/11_Github/mygit-1/DAT/25-1프로젝트/최종데이터/팔로워_팔로잉_계정생성일_최종.xls - follower_following_date.csv'
data = pd.read_csv(file_path, encoding='cp949')

In [92]:
data

data = data.rename(columns={'癤퓎sername': 'username'})

In [93]:
merged_account = pd.merge(data, selected_data, left_on='account', right_on='Username', how='left')
merged_account.head()

,Column1,account,follower,following,first_upload_date,Channel,Username,진행상황,City,Country,median_views,median_comments,average_views,average_comments,last_video_date,verified,top_hashtags
0,0,keishasarah_,44700,161,2020-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,theonlyhaven,1200000,77,2019-12-19,Tiktok,theonlyhaven,waiting for content,Singapore,SG,17.6K,8.0,134.6K,32.0,2019-12-19,False,"rlholiday, poloralphlauren, rlholidaytree, ral..."
2,2,turquoise.dec,755000,122,2021-02-14,Tiktok,turquoise.dec,waiting for content,Singapore,SG,117.8K,34.0,341.6K,153.0,2021-02-14,False,"yslbeauty, yslbeautysg, yslmakeup, ysltheinks"
3,3,ttalgi.ellie,1373,726,NaN,Tiktok,ttalgi.ellie,uploaded,Sarzana,Italy,932,5.0,4.3K,6.0,2024-02-07,False,"fyp, support, unbox, outfits, outfitinspo, hau..."
4,4,srsaskin_,1439,890,2024-02-03,Tiktok,srsaskin_,uploaded,Birmingham,GB,1.1K,19.0,2.7K,28.0,2024-02-03,False,"kbeauty, koreanskincare, teca, fyp, abib, abib..."

In [94]:
columns= ['Column1', 'account', 'first_upload_date', 'Channel']
# columns 리스트 안의 컬럼들을 제거합니다.
merged_account = merged_account.drop(columns=columns, errors='ignore')

merged_account

,follower,following,Username,진행상황,City,Country,median_views,median_comments,average_views,average_comments,last_video_date,verified,top_hashtags
0,44700,161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1200000,77,theonlyhaven,waiting for content,Singapore,SG,17.6K,8.0,134.6K,32.0,2019-12-19,False,"rlholiday, poloralphlauren, rlholidaytree, ral..."
2,755000,122,turquoise.dec,waiting for content,Singapore,SG,117.8K,34.0,341.6K,153.0,2021-02-14,False,"yslbeauty, yslbeautysg, yslmakeup, ysltheinks"
3,1373,726,ttalgi.ellie,uploaded,Sarzana,Italy,932,5.0,4.3K,6.0,2024-02-07,False,"fyp, support, unbox, outfits, outfitinspo, hau..."
4,1439,890,srsaskin_,uploaded,Birmingham,GB,1.1K,19.0,2.7K,28.0,2024-02-03,False,"kbeauty, koreanskincare, teca, fyp, abib, abib..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
622,60,82,aglimpseofglow,uploaded,La Habra,US,948,0.0,952,1.0,2022-12-26,False,"ugccontentcreators, skincareinfluencer, makeup..."
623,2313,1075,mariana.ugc,uploaded,Green Bay,US,461,8.0,3.3K,11.0,2023-04-15,False,"gorchicunboxing, gorchichaul, gorchic, fallhau..."
624,2313,1075,mariana.ugc,uploaded,Green Bay,US,461,8.0,3.3K,11.0,2023-04-15,False,"gorchicunboxing, gorchichaul, gorchic, fallhau..."
625,1425,360,tashfia____,ship out,Dhaka,Bangladesh,1.3K,3.0,3.4K,7.0,2023-11-09,False,"girly, beautytok, beauty, girlythings, makeup,..."
626,1425,360,tashfia____,ship out,Dhaka,Bangladesh,1.3K,3.0,3.4K,7.0,2023-11-09,False,"girly, beautytok, beauty, girlythings, makeup,..."

In [95]:
merged_account = merged_account.dropna().reset_index(drop=True)
merged_account.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247 entries, 0 to 246
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   follower          247 non-null    int64
 1   following         247 non-null    int64
 2   Username          247 non-null    object
 3   진행상황              247 non-null    object
 4   City              247 non-null    object
 5   Country           247 non-null    object
 6   median_views      247 non-null    object
 7   median_comments   247 non-null    float64
 8   average_views     247 non-null    object
 9   average_comments  247 non-null    float64
 10  last_video_date   247 non-null    object
 11  verified          247 non-null    object
 12  top_hashtags      247 non-null    object
dtypes: float64(2), int64(2), object(9)
memory usage: 25.2+ KB

In [97]:
merged_account

cols = ['Username'] + [col for col in merged_account.columns if col != 'Username']
merged_account = merged_account[cols]
merged_account

cols_reordered = [col for col in merged_account.columns if col != '진행상황'] + ['진행상황']
merged_account = merged_account[cols_reordered]
merged_account

,Username,follower,following,City,Country,median_views,median_comments,average_views,average_comments,last_video_date,verified,top_hashtags,진행상황
0,theonlyhaven,1200000,77,Singapore,SG,17.6K,8.0,134.6K,32.0,2019-12-19,False,"rlholiday, poloralphlauren, rlholidaytree, ral...",waiting for content
1,turquoise.dec,755000,122,Singapore,SG,117.8K,34.0,341.6K,153.0,2021-02-14,False,"yslbeauty, yslbeautysg, yslmakeup, ysltheinks",waiting for content
2,ttalgi.ellie,1373,726,Sarzana,Italy,932,5.0,4.3K,6.0,2024-02-07,False,"fyp, support, unbox, outfits, outfitinspo, hau...",uploaded
3,srsaskin_,1439,890,Birmingham,GB,1.1K,19.0,2.7K,28.0,2024-02-03,False,"kbeauty, koreanskincare, teca, fyp, abib, abib...",uploaded
4,_anjello,949,681,Concord,US,389,24.0,529,27.0,2024-01-14,False,"skincare, capcut, kbeauty, koreanskincare, ski...",uploaded
...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,aglimpseofglow,60,82,La Habra,US,948,0.0,952,1.0,2022-12-26,False,"ugccontentcreators, skincareinfluencer, makeup...",uploaded
243,mariana.ugc,2313,1075,Green Bay,US,461,8.0,3.3K,11.0,2023-04-15,False,"gorchicunboxing, gorchichaul, gorchic, fallhau...",uploaded
244,mariana.ugc,2313,1075,Green Bay,US,461,8.0,3.3K,11.0,2023-04-15,False,"gorchicunboxing, gorchichaul, gorchic, fallhau...",uploaded
245,tashfia____,1425,360,Dhaka,Bangladesh,1.3K,3.0,3.4K,7.0,2023-11-09,False,"girly, beautytok, beauty, girlythings, makeup,...",ship out
246,tashfia____,1425,360,Dhaka,Bangladesh,1.3K,3.0,3.4K,7.0,2023-11-09,False,"girly, beautytok, beauty, girlythings, makeup,...",ship out

In [98]:
merged_account.to_csv('D:/김동영/11_Github/mygit-1/DAT/25-1프로젝트/최종데이터/final_data.csv', index=False)