In [1]:
import pandas as pd
import numpy as np

In [2]:
rating_data = pd.read_csv('C:/Users/KimDongyoung/Desktop/my_git/mygit/협업필터링/data/ratings.csv')
movie_data = pd.read_csv('C:/Users/KimDongyoung/Desktop/my_git/mygit/협업필터링/data/movies.csv')

In [3]:
rating_data.head()
movie_data.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

## 데이터 전처리

In [4]:
# 필요없는 컬럼 제거

rating_data = rating_data.drop('timestamp', axis=1)
rating_data.head()

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0

In [5]:
# movie 데이터와 rating 데이터를 합침

user_item_rating = pd.merge(rating_data, movie_data, on='movieId')
user_item_rating.head()

,userId,movieId,rating,title,genres
0,1,31,2.5,Dangerous Minds (1995),Drama
1,1,1029,3.0,Dumbo (1941),Animation|Children|Drama|Musical
2,1,1061,3.0,Sleepers (1996),Thriller
3,1,1129,2.0,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1,1172,4.0,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama

In [6]:
# user-item matrix, item-user matrix 생성

item_user_matrix = user_item_rating.pivot_table('rating', index='title', columns='userId')  # 아이템-사용자 테이블 (column: 사용자, row: 아이템)
user_item_matrix = user_item_rating.pivot_table('rating', index='userId', columns='title')  # 사용자-아이템 테이블 (column: 아이템, row: 사용자)

In [7]:
item_user_matrix.head()
user_item_matrix.head()

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Item Based collarborative filtering

In [8]:
# 테이블 Nan 값 처리

user_item_matrix = user_item_matrix.fillna(0)
user_item_matrix.head()

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
# 테이블 Nan 값 처리

item_user_matrix = item_user_matrix.fillna(0)
item_user_matrix.head()

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
title,,,,,,,,,,,,,,,,,,,,,
"""Great Performances"" Cats (1998)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
$9.99 (2008),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Hellboy': The Seeds of Creation (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Neath the Arizona Skies (1934),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Round Midnight (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
# 코사인 유사도 계산

from sklearn.metrics.pairwise import cosine_similarity

In [11]:


item_similarity_matrix = cosine_similarity(item_user_matrix)
print(item_similarity_matrix)

[[1.         0.         0.         ... 0.         0.         0.        ]
 [0.         1.         0.         ... 0.05821787 0.         0.        ]
 [0.         0.         1.         ... 0.         0.         0.        ]
 ...
 [0.         0.05821787 0.         ... 1.         0.         0.        ]
 [0.         0.         0.         ... 0.         1.         0.        ]
 [0.         0.         0.         ... 0.         0.         1.        ]]

In [12]:
# 유사도값을 가진 행렬 생성

item_similarity_df = pd.DataFrame(data=item_similarity_matrix, index=item_user_matrix.index, columns=item_user_matrix.index)

In [13]:
# 아이템간의 코사인 유사도 행렬

item_similarity_df.head(3)

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
title,,,,,,,,,,,,,,,,,,,,,
"""Great Performances"" Cats (1998)",1.0,0.0,0.0,0.164399,0.020391,0.0,0.014046,0.000000,0.0,0.003166,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
$9.99 (2008),0.0,1.0,0.0,0.000000,0.000000,0.0,0.000000,0.079474,0.0,0.156330,...,0.0,0.0,0.0,0.0,0.0,0.013899,0.0,0.058218,0.0,0.0
'Hellboy': The Seeds of Creation (2004),0.0,0.0,1.0,0.000000,0.000000,1.0,0.000000,0.217357,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0

## 아이템 추천 하는 함수 생성

In [19]:
# 가장 유사도가 높은 top 5 영화 추천

def recommend_movie(title):
  return item_similarity_df[title].sort_values(ascending=False)[1:6]

In [20]:
recommend_movie('Inception (2010)')

title
Dark Knight, The (2008)          0.656999
Avatar (2009)                    0.633687
Dark Knight Rises, The (2012)    0.589308
Inglourious Basterds (2009)      0.580237
District 9 (2009)                0.576054
Name: Inception (2010), dtype: float64

In [21]:
def recommend_books(user_id, user_item_matrix, item_similarity_df, top_n=5):
    """
    주어진 사용자 ID에 대해 책을 추천하는 함수

    Parameters:
    user_id (int): 추천할 사용자 ID
    user_item_matrix (DataFrame): 사용자-아이템 평점 행렬
    item_similarity_df (DataFrame): 아이템 유사도 데이터프레임
    top_n (int): 추천할 책의 수 (기본값: 5)

    Returns:
    list: 추천된 책 ID 리스트
    """
    # 예측 평점을 저장할 딕셔너리
    predicted_ratings = {}

    # 사용자의 평점 가져오기
    if user_id not in user_item_matrix.index:
        return f'User ID {user_id} not found in user_item_matrix DataFrame'
    
    user_ratings = user_item_matrix.loc[user_id]

    # 사용자가 아직 평가하지 않은 아이템 찾기
    unrated_items = user_ratings[user_ratings == 0].index

    # unrated_items의 모든 아이템에 대해 예측 평점 계산
    for item in unrated_items:
        # 각 미평가된 아이템에 대한 유사도 계산
        similar_items = item_similarity_df[item]

        # 유사도 값의 상위 20%를 기준으로 선택
        similar_items_sorted = similar_items.sort_values(ascending=False)
        top_n_items = int(len(similar_items_sorted) * (20 / 100))
        top_similar_items = similar_items_sorted.iloc[:top_n_items]

        # 유사 아이템 간의 유사도를 가중치로 하여 사용자의 평점을 가중 평균하여 예측 평점 계산
        weighted_ratings_sum = 0 # 분자
        similarity_sum = 0 # 분모

        for item_id in top_similar_items.index:
            # 사용자가 평가한 아이템만 고려
            if user_ratings[item_id] > 0:
                similarity = top_similar_items[item_id]
                rating = user_ratings[item_id]
                weighted_ratings_sum += similarity * rating
                similarity_sum += similarity

        if similarity_sum != 0:
            predicted_rating = weighted_ratings_sum / similarity_sum
        else:
            predicted_rating = 0

        # 예측된 평점 저장
        predicted_ratings[item] = predicted_rating

    # 예측된 평점을 정렬하여 상위 추천 항목 가져오기
    top_recommendations = sorted(predicted_ratings.items(), key=lambda x: x[1], reverse=True)
    
    # 사용자가 이미 평가한 항목을 제외하고 추천된 책 ID 출력
    recommendations = [item[0] for item in top_recommendations]

    return recommendations[:top_n]

In [22]:
# 함수 사용 예시
user_id = 15  # 예시 사용자 ID
recommendations = recommend_books(user_id, user_item_matrix, item_similarity_df)
print("사용자 {}에게 추천하는 책: {}".format(user_id, recommendations))

사용자 15에게 추천하는 책: ['Mirage (1995)', 'Drunken Angel (Yoidore tenshi) (1948)', 'Human Condition I, The (Ningen no joken I) (1959)', 'Sword of the Stranger (Sutorejia: Mukô hadan) (2007)', 'Wolf Children (Okami kodomo no ame to yuki) (2012)']

## 평가

In [14]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [15]:
user_item_matrix.index
# item_user_matrix.index

Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
       ...
       662, 663, 664, 665, 666, 667, 668, 669, 670, 671],
      dtype='int64', name='userId', length=671)

In [45]:
actual_ratings = []  # 실제 평점을 저장할 리스트
predicted_ratings = []  # 예측된 평점을 저장할 리스트

# 모든 사용자와 사용자가 평가한 아이템에 대해 반복
for user_id in user_item_matrix.index:
    user_ratings = user_item_matrix.loc[user_id]  # 특정 사용자의 평점 데이터를 가져옴

    for item in user_ratings[user_ratings > 0].index:  # 사용자가 평점을 남긴 아이템에 대해 반복
        # 실제 평점을 가져옴
        actual_rating = user_ratings[item]
        actual_ratings.append(actual_rating)  # 실제 평점을 리스트에 추가

        # 유사도 행렬에서 해당 아이템과 다른 아이템 간의 유사도를 가져옴
        similar_items = item_similarity_df[item]

        weighted_ratings_sum = 0  # 가중합을 초기화
        similarity_sum = 0  # 유사도 합을 초기화

        # 사용자가 평가한 다른 아이템들에 대해서만 반복
        for rated_item in user_ratings[user_ratings > 0].index:
            if rated_item != item:  # 현재 아이템과 다른 아이템에 대해서만 계산
                similarity = similar_items[rated_item]  # 두 아이템 간의 유사도
                rating = user_ratings[rated_item]  # 사용자가 평가한 다른 아이템의 평점

                weighted_ratings_sum += similarity * rating  # 유사도와 평점의 곱을 가중합에 추가
                similarity_sum += abs(similarity)  # 유사도의 절대값을 유사도 합에 추가

        if similarity_sum != 0:
            predicted_rating = weighted_ratings_sum / similarity_sum  # 가중평균을 사용하여 예측 평점을 계산
        else:
            predicted_rating = 0  # 유사도 합이 0인 경우 예측 평점을 0으로 설정

        predicted_ratings.append(predicted_rating)  # 예측된 평점을 리스트에 추가

# MSE와 MAE 계산
mse = mean_squared_error(actual_ratings, predicted_ratings)  # 실제 평점과 예측된 평점 간의 평균 제곱 오차를 계산
mae = mean_absolute_error(actual_ratings, predicted_ratings)  # 실제 평점과 예측된 평점 간의 평균 절대 오차를 계산

# MSE와 MAE 출력
print("MSE: {}, MAE: {}".format(mse, mae))  # 결과를 출력

MSE: 0.872454503878645, MAE: 0.7207969393269023

In [47]:
item_user_matrix.index

Index(['"Great Performances" Cats (1998)', '$9.99 (2008)',
       ''Hellboy': The Seeds of Creation (2004)',
       ''Neath the Arizona Skies (1934)', ''Round Midnight (1986)',
       ''Salem's Lot (2004)', ''Til There Was You (1997)',
       ''burbs, The (1989)', ''night Mother (1986)',
       '(500) Days of Summer (2009)',
       ...
       'Zulu (1964)', 'Zulu (2013)', '[REC] (2007)', 'eXistenZ (1999)',
       'loudQUIETloud: A Film About the Pixies (2006)', 'xXx (2002)',
       'xXx: State of the Union (2005)', '¡Three Amigos! (1986)',
       'À nous la liberté (Freedom for Us) (1931)', 'İtirazım Var (2014)'],
      dtype='object', name='title', length=9064)

## User Based Collarborative filtering

In [14]:
# 테이블 Nan 값 처리

user_movie_rating = user_movie_rating.fillna(0)
user_movie_rating.head()

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
user_similarity_rate = cosine_similarity(user_movie_rating, user_movie_rating)
print(user_similarity_rate)

[[1.         0.         0.         ... 0.06291708 0.         0.01746565]
 [0.         1.         0.12429498 ... 0.02413984 0.17059464 0.1131753 ]
 [0.         0.12429498 1.         ... 0.08098382 0.13660585 0.17019275]
 ...
 [0.06291708 0.02413984 0.08098382 ... 1.         0.04260878 0.08520194]
 [0.         0.17059464 0.13660585 ... 0.04260878 1.         0.22867673]
 [0.01746565 0.1131753  0.17019275 ... 0.08520194 0.22867673 1.        ]]

In [16]:
# 유사도값을 가진 행렬 생성

user_similarity_rate_df = pd.DataFrame(data=user_similarity_rate, index=user_movie_rating.index, columns=user_movie_rating.index)

In [17]:
user_similarity_rate_df.head(3)

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
userId,,,,,,,,,,,,,,,,,,,,,
1,1.0,0.000000,0.000000,0.074482,0.016818,0.000000,0.083884,0.000000,0.012843,0.000000,...,0.000000,0.000000,0.014481,0.043719,0.000000,0.000000,0.000000,0.062917,0.000000,0.017466
2,0.0,1.000000,0.124295,0.118821,0.103646,0.000000,0.212985,0.113190,0.113333,0.043213,...,0.477306,0.063202,0.077784,0.164162,0.466281,0.425462,0.084646,0.024140,0.170595,0.113175
3,0.0,0.124295,1.000000,0.081640,0.151531,0.060691,0.154714,0.249781,0.134475,0.114672,...,0.161205,0.064198,0.176222,0.158357,0.177098,0.124562,0.124911,0.080984,0.136606,0.170193

In [18]:
# This function will return the top 5 users with the highest similarity value 
def top_users(user):
    print('Most Similar Users:\n')
    result = user_similarity_rate_df.sort_values(by=user, ascending=False).loc[:,user][1:6]
    for user, sim in result.items():
        print('User #{0}, Similarity value: {1:.2f}'.format(user, sim))

In [19]:
top_users(5)

Most Similar Users:

User #313, Similarity value: 0.34
User #500, Similarity value: 0.34
User #292, Similarity value: 0.32
User #442, Similarity value: 0.31
User #654, Similarity value: 0.31

In [27]:
# 사용자-아이템 평점 행렬
user_item_matrix = pd.DataFrame({
    'Item1': [5, 4, 0, 0, 2],
    'Item2': [3, 0, 2, 0, 5],
    'Item3': [0, 0, 5, 4, 0],
    'Item4': [1, 2, 0, 4, 0],
    'Item5': [0, 5, 0, 0, 3]
}, index=['User1', 'User2', 'User3', 'User4', 'User5'])

# 사용자 간 코사인 유사도 계산
user_similarity = cosine_similarity(user_item_matrix)
user_similarity_df = pd.DataFrame(user_similarity, index=user_item_matrix.index, columns=user_item_matrix.index)

In [28]:
user_similarity_df

          User1     User2     User3     User4     User5
User1  1.000000  0.554348  0.188329  0.119523  0.685511
User2  0.554348  1.000000  0.000000  0.210819  0.556198
User3  0.188329  0.000000  1.000000  0.656532  0.301238
User4  0.119523  0.210819  0.656532  1.000000  0.000000
User5  0.685511  0.556198  0.301238  0.000000  1.000000

In [31]:
user_item_matrix

       Item1  Item2  Item3  Item4  Item5
User1      5      3      0      1      0
User2      4      0      0      2      5
User3      0      2      5      0      0
User4      0      0      4      4      0
User5      2      5      0      0      3